node_modules/
dist/
dist-electron/
electron/frontend-dist-bundled/
electron/resources/pg
electron/resources/seed-data.dump
.env
uploads/*
!uploads/.gitkeep
*.log
.DS_Store
.vscode/
yarn.lock
*.tsbuildinfo
